.contenedor {
  max-width: 850px;
  width: 100%;
  min-height: 300px;
  border: dashed 1px #808080;
  position: relative;
  margin: 0 auto;
  background-image: url("../../../assets/imagenes/menor-mayor/fondocartas.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.contenedor-hora {
  float: left;
  text-align: right;
  width: 71%;
  padding-top: 30px;
}
.contenedor-vidas {
  float: left;
  width: 100%;
  left: 28%;
  top: 2%;
  position: absolute;
}
.contenedor-vidas span {
  font-size: 30px;
  font-weight: bold;
  margin-right: 5px;
}

.contenedor-vidas img {
  min-width: 15px;
  width: 1%;
  margin: 5px;
  object-fit: cover;
}
.clear {
  clear: both;
}

.flip3d {
  width: 121px;
  height: 191px;
  top: 9.5%;
  left: 48.5%;
  position: relative;
}
.flip3d > .front {
  position: absolute;
  background-image: url("../../../assets/imagenes/menor-mayor/ctapa.jpg");
  background-size: cover;
  background-position: center center;
  width: 121px;
  height: 191px;
  top: 9.5%;
  left: 48.5%;
  border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
  -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(0deg);
}

.flip3d > .back {
  position: absolute;
  -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
  background-image: url("../../../assets/imagenes/menor-mayor/contratapa.jpg");
  background-size: cover;
  background-position: center center;
  width: 122px;
  height: 191px;
  top: 9.5%;
  left: 48.5%;
  border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
}
.girarFront {
  position: absolute;
  -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(0deg);

  background-image: url("../../../assets/imagenes/menor-mayor/tapa.jpg");
  background-size: cover;
  background-position: center center;
  width: 122px;
  height: 191px;
  top: 9.5%;
  left: 48.5%;
  border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
  -webkit-transform: perspective(800px) rotateY(-180deg);
  transform: perspective(800px) rotateY(-180deg);
}

.girarBack {
  position: absolute;
  -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
  background-image: url("../../../assets/imagenes/menor-mayor/contratapa.jpg");
  background-size: cover;
  background-position: center center;
  width: 121px;
  height: 191px;
  top: 9.5%;
  left: 54%;
  border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
  -webkit-transform: perspective(800px) rotateY(0deg);
  transform: perspective(800px) rotateY(0deg);
}

.numero {
  font-weight: bold;
  color: ivory;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 5em;
}
@keyframes miAnimacion {
  0% {
    top: -0.5%;
    left: 52%;
  }

  100% {
    background: blue;
    left: -182%;
  }
}

.moverCarta {
  position: relative;
  background-image: url("../../../assets/imagenes/menor-mayor/contratapa.jpg");
  background-size: cover;
  background-position: center center;
  width: 125px;
  height: 193px;
  top: -0.5%;
  left: 52%;
  border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  animation: miAnimacion;
  animation-duration: 3s;
}
.cartaEstatica {
  position: absolute;
  width: 125px;
  height: 193px;
  top: 9%;
  left: -181%;
  background-image: url("../../../assets/imagenes/menor-mayor/contratapa.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 7px;
}
.botones {
  display: flex;
  align-items: center;
  height: 20px;
  width: 100px;
  margin: -32px -180px;
  position: relative;
  top: 50%;
  left: 50%;
}

.susu {
  margin: 20px;
  background: #4324db;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-size: x-large;
}
.cartaDesaparece {
  position: absolute;
  background-image: url("../../../assets/imagenes/menor-mayor/contratapa.jpg");
  background-size: cover;
  background-position: center center;
  width: 125px;
  height: 193px;
  top: 9%;
  left: -181%;
  border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  animation: aparecer;
  animation-duration: 3s;
}

@keyframes aparecer {
  0% {
    top: 0;
    left: 0;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
#contenedor-mensaje-victoria,
#contenedor-mensaje-derrota {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000ad;
}

#mensaje-victoria,
#mensaje-derrota {
  min-height: 400px;
  background: white;
  top: 20%;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.ocultar-mensaje {
  display: none;
}

.btn {
  width: 120px;
  height: 30px;
  margin-bottom: 5px;
  background: #a4e4a7;
  border: solid #628a64 1px;
  font-weight: bold;
  cursor: pointer;
}
