<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="contenedor-vidas">
    <span >Vidas:</span>
    <img src="../../../assets/imagenes/menor-mayor/corazon-icon.png" *ngIf="vidas[0]">
    <img src="../../../assets/imagenes/menor-mayor/corazon-icon.png" *ngIf="vidas[1]">
    <img src="../../../assets/imagenes/menor-mayor/corazon-icon.png"*ngIf="vidas[2]">
</div>
<div class="contenedor-hora" id="contenedor">
Restan  :
    <span class="hora">{{cantidad}}</span>  Adivinadas : 
    <span class="minuto">{{adivinadas}}</span> de 10
    <span class="segudo"></span>
</div>
<div class="clear"></div>
<div class="contenedor">
<br>
<br>

<div class="flip3d">
<div  [ngClass]="{'girarBack': flag, 'back': !flag}"  >
  <h1 class="numero">{{numeroAComparar}}</h1>
</div>
 <div [ngClass]="{'girarFront': flag, 'front': !flag}"  ></div>

 <div [ngClass]="{'cartaDesaparece': aparece, 'cartaEstatica': !aparece}"*ngIf="cartaEstatica">
  <h1 class="numero">{{numeroCartaAnterior}}</h1>
</div>
</div>
</div>
<div class="botones">
<button type="button" class="btn btn-primary mr-4"  [disabled]="!disableBtn" (click)="menor()">MENOR</button>
<button type="button"  class="btn btn-primary ml-4" [disabled]="!disableBtn" (click)="mayor()">MAYOR</button>
</div>

