
    <div >
        <h1 class="navbar navbar-expand-lg navbar-dark bg-dark" style="color:seashell; border-radius: 10px;">Chat</h1>
        
        <div class="mensajes" id="mensajes">
            <div class="h5" *ngFor="let chat of chatServ.chats ">
                <div *ngIf="chatServ.usuario.id==chat.id; else notUser">
                    <div style="text-align: right;">
                        <span style="font-size: 1rem;" >{{chat.time}}</span> 
                        <span class="badge badge-primary text-wrap">
                            <span *ngIf="chat.nombre; else notName">{{ chat.nombre}} :</span>
                            <ng-template #notName>{{chat.email}} : </ng-template>       
                        </span> 
                        <p> {{chat.mensaje}} </p>
                    </div>
                </div>
                <ng-template #notUser>
                    <div>
                        <span class="badge badge-success text-wrap">
                            <span *ngIf="chat.nombre; else notName">{{ chat.nombre}} :</span>
                            <ng-template #notName>{{chat.email}} :</ng-template>       
                        </span> -
                        <span style="font-size: 1rem;">{{chat.time}}</span>
                        <p> {{chat.mensaje}} </p>
                    </div>
                </ng-template>
            </div>   
        </div>  
        <div class="buttomChat">
            <input type="text" class="navbar navbar-expand-lg navbar-dark bg-dark" size="39" style="color: seashell; left: -4%;"    [(ngModel)]="mensaje" (keyup.enter)="enviar_mensaje()" placeholder="Enviar mensaje" >
        </div>
        
    </div>
   
    





    

<!-- 
<span class="badge badge-primary">joaquin</span>
<span class="badge badge-success">maria</span>



           <div class="h5" *ngFor="let chat of chatServ.chats ">
                <div *ngIf="chatServ.usuario.id==chat.id; else notUser">
                    <div style="text-align: right;">
                        <span class="badge badge-primary">{{chat.time}}</span>
                        <span class="badge badge-primary">
                            <span *ngIf="chat.nombre; else notName">{{ chat.nombre}} :</span>
                            <ng-template #notName>{{chat.email}} : </ng-template>       
                        </span>  
                        <p> {{chat.mensaje}} </p>
                    </div>
                </div>
                <ng-template #notUser>
                    <div>
                        <span class="badge badge-success">{{chat.time}}</span>
                        <span class="badge badge-success">
                            <span *ngIf="chat.nombre; else notName">{{ chat.nombre}} :</span>
                            <ng-template #notName>{{chat.email}} :</ng-template>       
                        </span>
                        <p> {{chat.mensaje}} </p>
                    </div>
                </ng-template>
            </div>
-->
