<div id="contentendor">

    <img  class="nose" src="{{fotoMostrar}}"  alt="Responsive image">
     <div class="container">
       <div class="row">
         <div class="col">
           <button class="btn">
                   Notification <span class="badge badge-primary">{{fallas}}</span>
           </button>
         </div>
       </div>
       <div class="row susu" >
         <div class="row">
           <div class="col">
             <h1 id="palabraAdivar">{{palabraAdivinada}}</h1>
           </div>
         </div>
         <div class="col-xs-1-12"  id="botonera">
           <button *ngFor="let boton of botones"  [ngClass]="boton.estado"
           (click)="botonLetra(boton)">{{boton.letra}}</button>
         </div>
       </div>
     </div>
   </div>
